* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  padding-left: 300px;
  padding-right: 300px;
  min-height: 100vh;
}
/* .modoEscuro{
  background-color: #202123;
} */
.modoEscuroTexto{
  background-color: #444654;
  color: white;
}
header {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header select {
  border: none;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}
header div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headerMoon {
  margin-left: 10px;
  cursor: pointer;
}
.headerBook img {
  height: 60px;

}
.headerMoon img {
  height: 50px;
}
.sectionInfo {
  display: flex;
  flex-direction: column;
}
.sectionInput {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  padding: 2px;
  background-color: #e2e2e2;
  border-radius: 10px;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sectionInput input {
  border: none;
  background-color: #e2e2e2;
  width: 90%;
  padding: 13px;
  outline: none;
  font-size: larger;
}
.sectionInput button {
  width: 10%;
  padding: 5px;
  cursor: pointer;
  border: none;
  background-color: #e2e2e2;
}
.sectionInput img {
  width: 30px;
}
.sectionInfo h1 {
  font-size: 70px;
}
.sectionDesc {
  margin: 20px 0 50px 0;
  font-size: 20px;

}
h3 {
  margin-top: 10px;
}
.sectionDesc div {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sectionDesc div p {
  margin-right: 5px;
}
.sectionDesc div p{
  display: flex;
  flex-direction: column;
}
hr {
  margin: 10px 0 10px 0;
}
ul li {
  padding: 10px 1px;
  font-size: 23px;
}
@media (max-width: 600px) {
  .App {
    padding: 5px;
  }
  header {
    padding-top: 10px;
  }
  .sectionInfo h1 {
    font-size: 50px;
  }
  .sectionDesc {
    width: 90%;
    margin: auto;
    font-size: 25px;
  }
  .sectionDesc div {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  
  }
}
